<p-table #tt [columns]="cols1" [value]="tacheService.listTache" [paginator]="true" [rows]="5" [first]="first"
selectionMode="single" [(selection)]="selectedTache" [(contextMenuSelection)]="selectedTache">


<ng-template pTemplate="caption">
  <div style="align-content: center;">Liste des travaux à faire</div>
  <button pButton label="Ajouter Travaille à faire" icon="fa fa-plus-circle" (click)="showBasicDialogadd()"
    style="position: relative; left: 350px; top: -10px" class="ui-button-rounded"></button>
</ng-template>


<ng-template pTemplate="header" let-columns>

  <tr>
    <th *ngFor="let col of columns">
      {{col.header}}
    </th>
    <th style="align-items: center;width: 20%">Operations</th>
  </tr>

</ng-template>

<ng-template pTemplate="body" let-Tache>

  <tr>
    <td>{{Tache.titre}}</td>
    <td>{{Tache.dateDebut| date :'short' }} </td>
    <td>{{Tache.etat}}</td>
    <td style="text-align:center">

        <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" style="margin-right: .5em"
        (click)="showBasicDialogupdate(Tache)"  data-toggle="tooltip" data-placement="top" title="Mise à jour"></button>
      <button pButton type="button" (click)="confirm3(Tache.idTache)" icon="fa fa-trash" class="ui-button-danger"

      data-toggle="tooltip" data-placement="top" style="margin-right: .5em" title="Supprimer"></button>

    </td>
  </tr>



  <ng-template pTemplate="paginatorleft" let-state>
    {{state.first}}
    <button type="button" pButton icon="fa-refresh"></button>
  </ng-template>

  <ng-template pTemplate="paginatorright">
    <button type="button" pButton icon="fa-cloud-upload"></button>
  </ng-template>

</ng-template>


<ng-template pTemplate="summary">
  {{tacheService.listTache?.length}} Taches

</ng-template>

</p-table>
<app-addtravailfaire [displayBasicadd]="displayBasicadd" [phaseId]="phaseId"></app-addtravailfaire>
<app-updatetravailfaire [displayBasicupdate]="displayBasicupdate" [idTache]="idTache"></app-updatetravailfaire>

