<p-breadcrumb style="position: relative; top:-35px;" [model]="items" [home]="home"></p-breadcrumb>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="panel panel-primary" style="border: 1px solid #35748b;">
    <div class="panel-heading bg-primary">
      <div class="row">

        <div class="col-sm-10">
          <h4><i class="fa fa-plus-circle"></i> Modifier Affaire Pré-contentieux</h4>
        </div>
        <div class="col-sm-2">
          <button routerLink="/affaire/precontentieux" class="btn btn-inverse"><i
              class="icofont icofont-arrow-left"></i>Retour</button></div>
      </div>

    </div>
    <br>

    <form [formGroup]="affaireForm" (ngSubmit)="updateAffaire()">
      <div class="panel-body">
        <div class="container">

          <div class="form-row">
            <div class="form-group col-md-12">

              <p-fieldset legend="Inforamtions">
                <div class="form-row">
                  <div class="form-group col-md-6">

                    <span class="ui-float-label">
                      <input type="text" id="titre" formControlName="titre" id="titreaffaire" class="form-control"
                        size="30" pInputText size="30" required>

                      <label for="titreaffaire">Titre</label>
                    </span>
                    <div *ngIf="submitted && f.titre.invalid" style="color: red;">Titre est obligatoire
                    </div>
                  </div>

                  <div class="form-group col-md-6">
                    <span class="ui-float-label">
                      <input type="text" formControlName="reference" id="referenceaffaire" class="form-control"
                      readonly="readonly" size="30" pInputText required >
                      <label for="referenceaffaire">Référence</label>
                    </span>
                    <div *ngIf="submitted && f.reference.invalid" style="color: red;">Référence est obligatoire
                    </div>
                  </div>
                </div>


                <div class="form-row">
                  <div class="form-group col-md-6">
                    <p-dropdown [options]="etats" formControlName="etat" placeholder="Etat"
                      [style]="{'width':'100%','line-height': '1.25'}">
                    </p-dropdown>
                    <div *ngIf="submitted && f.etat.invalid" style="color: red;">Etat est obligatoire
                    </div>
                  </div>
                  <div class="form-group col-md-6">
                    <p-dropdown [options]="listTypeaffaire" formControlName="typeaffaireId" optionLabel="typeaffaire"
                      placeholder="Type affaire" [style]="{'width':'100%','line-height': '1.25'}"></p-dropdown>
                    <div *ngIf="submitted && f.typeaffaireId.invalid" style="color: red;">Type est obligatoire



                    </div>
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <p-fieldset legend="Intervenant" [toggleable]="true">

                <p-multiSelect optionLabel="nom" [options]="listIntervenant" formControlName="intervenant"
                  [panelStyle]="{minWidth:'12em'}" [style]="{'width':'100%','line-height': '1.25'}"></p-multiSelect>
                  <div *ngIf="submitted && f.intervenant.invalid" style="color: red;">Intervenant obligatoire
                  </div>
                  <!--<p-multiSelect [options]="listIntervenant" [style]="{'width':'100%','line-height': '1.25'}"
                  formControlName="intervenant" optionLabel="nom">
                </p-multiSelect>
                <div *ngIf="submitted && f.listIntervenant.invalid" style="color: red;">Intervenant obligatoire
                </div>-->

                <!-- <p-multiSelect [options]="listIntervenant" formControlName="intervenant"
                  [panelStyle]="{minWidth:'12em'}" [style]="{'width':'100%','line-height': '1.25'}"
                  (onChange)="showChange($event)">


                  <ng-template let-value pTemplate="selectedItems">
                    <div *ngFor="let val of value" class="ui-multiselected-item-token ui-corner-all">
                      <span>{{val}}</span>
                    </div>
                    <span *ngIf="!value || value.length === 0"
                      class="ui-multiselected-empty-token ui-corner-all">Choose</span>
                  </ng-template>
                  <ng-template let-inter pTemplate="item">
                    <div style="font-size:14px;float:right;margin-top:4px">{{inter.nom}} {{inter.prenom}}</div>
                  </ng-template>

                </p-multiSelect>
-->

              </p-fieldset>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <p-fieldset legend="Auxiliaire" [toggleable]="true">
                <p-multiSelect [options]="listAuxiliaire" [style]="{'width':'100%','line-height': '1.25'}"
                  formControlName="auxiliaire" optionLabel="nom">
                </p-multiSelect>
                <div *ngIf="submitted && f.auxiliaire.invalid" style="color: red;">Auxiliaire obligatoire
                </div>

              </p-fieldset>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-12">
              <p-fieldset legend="Utilisateur" [toggleable]="true">
                <p-multiSelect [options]="listUser" [style]="{'width':'100%','line-height': '1.25'}"
                  formControlName="user" optionLabel="nom">
                </p-multiSelect>

                <div *ngIf="submitted && f.user.invalid" style="color: red;">Utilisateur obligatoire
                </div>
              </p-fieldset>
            </div>
          </div>


          <div class="form-row">
            <div class="form-group col-md-12">
              <span class="ui-float-label">
                <textarea id="affairedescription" class="form-control" formControlName="description" rows="5" cols="30"
                  pInputTextarea required></textarea>
                <label for="affairedescription">Déscription</label>
              </span>
              <div *ngIf="submitted && f.description.invalid" style="color: red;">Déscription est obligatoire
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-8"></div>
            <div class="form-group col-md-4">
              <button type="submit" pButton label="Modifier" style="margin-right: .5em"
                class="ui-button-success"></button>

            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</div>
