:host ::ng-deep .ui-toast {
  top: 80px;
}
:host ::ng-deep .news-active .ui-toast {
  top: 150px;
}
@media screen and (max-width: 64em) {
  :host ::ng-deep .ui-toast {
      top: 110px;
  }
  :host ::ng-deep .news-active .ui-toast {
      top: 180px;
  }
}
