<p-dialog header="Modifier Audiance" [(visible)]="displayBasicupdate" [style]="{'width': '500px','height': '180px'}">

  <form [formGroup]="audianceForm" (ngSubmit)="updateAudiance()" style="height: 180px;">

    <div class="form-row">
      <div class="form-group col-md-6">

        <span class="ui-float-label">
          <input type="text" formControlName="titre" class="form-control" id="titreaudiance" size="30" pInputText
            size="30" required>
          <label for="titreaudiance">Titre</label>
        </span>
        <div *ngIf="submitted && f.titre.invalid" style="color: red;">Titre est obligatoire
        </div>
      </div>

      <div class="form-group col-md-6">
        <p-dropdown [options]="etat" formControlName="etat" placeholder="Etat"
          [style]="{'width':'100%','line-height': '1.25'}">
        </p-dropdown>
        <div *ngIf="submitted && f.etat.invalid" style="color: red;">Etat est obligatoire
        </div>
      </div>


    </div>

    <div class="form-row">

      <div class="form-group col-md-12">
        <p-dropdown [options]="liststatusaudiance" formControlName="statusId" placeholder="Statut" editable="true"
          optionLabel="status" (onChange)="selectChangeHandler($event)"
          [style]="{'width':'100%','line-height': '1.25'}">
        </p-dropdown>
      </div>

    </div>
    <p-footer>
      <button type="submit" pButton style="margin-right: .5em" class="btn btn-primary" label="Modifier"></button>
    </p-footer>


    <app-addjugement [displayBasic]="displayBasic" [phaseId]="phaseId" [lecteur]="lecteur"></app-addjugement>


  </form>

</p-dialog>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
