<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->

                <form class="md-float-material form-material" name="loginForm" [formGroup]="loginForm"
                    (ngSubmit)="onSubmit()">
                    <div class="text-center">
                        <img src="assets\images\logo.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center">Authentification</h3>
                                </div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" formControlName="login" class="form-control"
                                    placeholder="Identifiant">
                                <span class="form-bar"></span>
                            </div>
                            <span *ngIf="submitted && loginForm.get('login').hasError('required')"
                                style="color: red;">Identifiant
                                obligatoire</span>

                            <div class="form-group form-primary">
                                <input type="password" formControlName="password" class="form-control"
                                    placeholder="Mot de passe">
                                <span class="form-bar"></span>
                            </div>
                            <span *ngIf=" submitted && loginForm.get('password').hasError('required')"
                                style="color: red;">Mot de
                                passe obligatoire</span>
                            <!-- <span *ngIf="submitted && !loginForm.get('password').hasError('minLength')"
                                style="color: red;"> Min 4
                                caractére</span> -->
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="checkbox-fade fade-in-primary d-">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i
                                                    class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                            <span class="text-inverse">Remember me</span>
                                        </label>
                                    </div>
                                    <div class="forgot-phone text-right f-right">
                                        <a href="auth-reset-password.htm" class="text-right f-w-600"> Forgot
                                            Password?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12">
                                    <button type="submit"
                                        class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign
                                        in</button>
                                </div>
                            </div>
                            <hr>
                            <!--   <div class="row">
                                <div class="col-md-10">
                                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                                    <p class="text-inverse text-left"><a href="index-1.htm"><b class="f-w-600">Back to
                                                website</b></a></p>
                                </div>

                                  <div class="col-md-2">
                                      <img src="assets\images\auth\logo.png" alt="small-logo.png">
                                  </div>

                            </div> -->
                        </div>
                    </div>
                </form>
                <!-- end of form -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>
