<p-breadcrumb style="position: relative; top:-35px;" [model]="items" [home]="home"></p-breadcrumb>
<div class="content p-24">
  <div style="margin-left: 90%;margin-bottom: 2%">
    <button type="button" pButton icon="fa fa-plus-circle" (click)="addRow()" class="ui-button-rounded"
      label="Ajouter"></button>
  </div>

  <p-table [value]="listStatusAudiance" dataKey="statusId" [paginator]="true" [rows]="5" [first]="first"
    editMode="row" #table>

    <ng-template pTemplate="header">
      <tr>
        <th>Type</th>
        <th style="width:8em">Operations</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-StatusAudiance let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="StatusAudiance">

        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="StatusAudiance.status" required>
            </ng-template>
            <ng-template pTemplate="output">
              {{StatusAudiance.status}}
            </ng-template>
          </p-cellEditor>
        </td>

        <td style="text-align:center">
          <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil" class="ui-button-info"
            (click)="onRowEditInit(StatusAudiance)"  data-toggle="tooltip" data-placement="top" title="Modifier" ></button>
          <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check" class="ui-button-success"
            style="margin-right: .5em" (click)="onRowEditSave(StatusAudiance)"></button>
          <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times" class="ui-button-danger"
            (click)="onRowEditCancel(StatusAudiance, ri)"></button>
          <button pButton *ngIf="!editing" type="button" icon="pi pi-trash" style="margin-right: .5em"
            class="ui-button-danger" (click)="showConfirm()"  data-toggle="tooltip" data-placement="top" title="Supprimer"  ></button>




        </td>
      </tr>

      <ng-template pTemplate="paginatorleft" let-state>
        {{state.first}}
        <button type="button" pButton icon="fa-refresh"></button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
        <button type="button" pButton icon="fa-cloud-upload"></button>
      </ng-template>

      <p-toast position="center" key="statusId" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000">
        <ng-template  let-message  pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="deletestatus(StatusAudiance.statusId)" label="Yes" class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
      </p-toast>

    </ng-template>


    <ng-template pTemplate="summary">
       {{listStatusAudiance?.length}} Status

    </ng-template>



  </p-table>

</div>

<p-toast [style]="{marginTop: '80px'}"></p-toast>

