<p-breadcrumb style="position: relative; top:-35px;" [model]="items" [home]="home"></p-breadcrumb>
<p-table #tt [columns]="cols" [value]="listAffaire" [paginator]="true" [rows]="10" [first]="first"
  selectionMode="single" [(selection)]="selectedAffaire" [(contextMenuSelection)]="selectedAffaire"
  [globalFilterFields]="[
    'titre',
    'reference',
    'Avocats'
  ]">


  <ng-template pTemplate="caption">
    <div style="align-content: center;">Liste des Affaires Pré-contentieux</div>
    <div class="ui-g">
      <div class="ui-g-12">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input type="text" pInputText size="50" placeholder="Filtre Globale"
          (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
      </div>
    </div>
  </ng-template>


  <ng-template pTemplate="header" let-columns>

    <tr>
      <th *ngFor="let col of columns">
        {{col.header}}
      </th>
      <th style="align-items: center;">Operations</th>
    </tr>

  </ng-template>

  <ng-template pTemplate="body" let-Affaire>
    <tr>
      <td>{{Affaire.reference}}</td>
      <td>{{Affaire.titre}}</td>
      <td><span *ngFor="let item of Affaire.user">{{item.nom}} {{item.prenom}}</span></td>
      <td>{{Affaire.dateCreation | date:'yyyy/MM/dd' }} </td>

      <td style="text-align:center">
        <a [routerLink]="['/affaire/updateprecontentieux', Affaire.affaireId ]">
          <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" style="margin-right: .5em" data-toggle="tooltip" data-placement="top" title="Mise à jour"></button>
        </a>
        <a [routerLink]="['/affaire/detailsprecontentieux', Affaire.affaireId ]">
          <button pButton type="button" icon="fa fa-tasks" class="ui-button-info" style="margin-right: .5em" data-toggle="tooltip" data-placement="top" title="Détails"></button>
        </a>
        <button pButton type="button" (click)="confirm2(Affaire.affaireId)" icon="fa fa-trash"
          class="ui-button-danger" data-toggle="tooltip" data-placement="top"  style="margin-right: .5em" title="Supprimer"></button>

          <a>
            <button pButton type="button" icon="fa fa-cloud-download" (click)="updateetat(Affaire.affaireId)" class="ui-button-info" style="margin-right: .5em" data-toggle="tooltip" data-placement="top" title="Archiver"></button>
          </a>
      </td>
    </tr>



    <ng-template pTemplate="paginatorleft" let-state>
      {{state.first}}
      <button type="button" pButton icon="fa-refresh"></button>
    </ng-template>

    <ng-template pTemplate="paginatorright">
      <button type="button" pButton icon="fa-cloud-upload"></button>
    </ng-template>

  </ng-template>


  <ng-template pTemplate="summary">
    {{listAffaire?.length}} Affaire Pré-contentieux

  </ng-template>

</p-table>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
