<p-breadcrumb style="position: relative; top:-35px;" [model]="items" [home]="home"></p-breadcrumb>
<p-table #tt [columns]="cols" [value]="listUsers" [paginator]="true" [rows]="5" [first]="first" sortMode="multiple"
    selectionMode="single" [globalFilterFields]="[
    'nom',
    'prenom',
    'login',
    'email',
    'etat',
    'idProfil.nameProfil'
  ]">


    <ng-template pTemplate="caption">
        <div style="align-content: center;">Liste des utilisateurs</div>
        <div class="ui-g">
            <div class="ui-g-12">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Filtre Globale"
                    (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto" />
            </div>
        </div>

        <a routerLink="/user/ajouter">
            <button pButton label="Ajouter" icon="fa fa-plus-circle" style="position: relative; left: 350px; top: -40px"
                class="ui-button-rounded"></button>
        </a>

    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
            </th>

            <th>Operations</th>
        </tr>

        <tr>

        </tr>

    </ng-template>

    <ng-template pTemplate="body" let-user>
        <tr>
            <td>{{user.nom}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.login}}</td>
            <td>{{user.email}}</td>
            <td align="center">
                <div *ngIf="user.etat; then active else desactiver"></div>
                <ng-template #active><i class="fa fa-check-circle fa-2x" style="color:rgb(37, 158, 78);"></i>
                </ng-template>
                <ng-template #desactiver><i class="fa fa-times-circle fa-2x" style="color:rgb(231, 12, 12);"></i>
                </ng-template>


            </td>
            <td>{{user.idProfil.nameProfil }}</td>

            <td style="text-align:center">
                <span *ngIf="user.login!='ADMINSTRATEUR LAWYER'">
                    <a [routerLink]="['/user/update', user.idUser ]">
                        <button pButton type="button" icon="pi pi-pencil" class="ui-button-info" data-toggle="tooltip"
                            data-placement="top" title="Détails" style="margin-right: .5em"></button>
                    </a>


                    <button pButton type="button" (click)="confirm2(user.idUser)" data-toggle="tooltip"
                        data-placement="top" title="Supprimer" icon="fa fa-trash" class="ui-button-danger"></button>
                </span>
            </td>
        </tr>

        <ng-template pTemplate="paginatorleft" let-state>
            {{state.first}}
            <button type="button" pButton icon="fa-refresh"></button>
        </ng-template>

        <ng-template pTemplate="paginatorright">
            <button type="button" pButton icon="fa-cloud-upload"></button>
        </ng-template>

    </ng-template>


    <ng-template pTemplate="summary">
        {{listUsers?.length}} tribunaux

    </ng-template>
</p-table>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>