<p-breadcrumb style="position: relative; top:-35px;" [model]="items" [home]="home"></p-breadcrumb>
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
  <div class="panel panel-primary"  style="border: 1px solid #35748b;">
    <div class="panel-heading bg-primary">
      <div class="row">

        <div class="col-sm-10">
          <h4><i class="fa fa-plus-circle"></i> Ajouter Intervenant</h4>
        </div>
        <div class="col-sm-2">
          <button routerLink="/intervenant" class="btn btn-inverse"><i
              class="icofont icofont-arrow-left"></i>Retour</button></div>
      </div>

    </div>
    <br>
    <form [formGroup]="intervenantForm" (ngSubmit)="addIntervenant()">
      <div class="panel-body">
        <div class="container">
          <div class="form-row">
            <div class="form-group col-md-6">

              <span class="ui-float-label">
                <input type="number" id="intervenantcin" formControlName="cin" id="intervenantcin" class="form-control"
                   pInputText required>

                <label for="intervenantcin">Cin</label>
              </span>
              <div *ngIf="submitted && f.cin.invalid" style="color: red;">CIN est obligatoire
              </div>
              <div *ngIf="f.cin.errors!=null" style="color: red;">
                <div *ngIf="f.cin.errors.max" style="color: red;">Taille > 9 </div>
                <!--<div *ngIf="f.telephone.errors.required"> champs obligatoir</div>-->
              </div>
            </div>
            <div class="form-group col-md-6">

              <span class="ui-float-label">
                <input type="text" id="intervenantprofession" formControlName="profession" id="intervenantprofession"
                  class="form-control" size="30" pInputText size="30" required>

                <label for="intervenantprofession">Profession</label>
              </span>
              <div *ngIf="submitted && f.profession.invalid" style="color: red;">Profession est obligatoire
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">

              <span class="ui-float-label">
                <input type="text" id="name" formControlName="nom" id="intervenantname" class="form-control" size="30"
                  pInputText size="30" required>

                <label for="intervenantname">Nom</label>
              </span>
              <div *ngIf="submitted && f.nom.invalid" style="color: red;">Nom est obligatoire
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="ui-float-label">
                <input type="text" formControlName="prenom" id="intervenantprenom" class="form-control" size="30"
                  pInputText required>
                <label for="intervenantprenom">Prénom</label>
              </span>
              <div *ngIf="submitted && f.prenom.invalid" style="color: red;">Prénom est obligatoire
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">

              <span class="ui-float-label">
                <input type="number" formControlName="telephone" id="intervenanttelephone" class="form-control"
                  pInputText required>

                <label for="intervenanttelephone">Téléphone</label>
              </span>
              <div *ngIf="submitted && f.telephone.invalid" style="color: red;">
                Téléphone est obligatoire
              </div>
              <div *ngIf="f.telephone.errors!=null">
                <div *ngIf="f.telephone.errors.max" style="color: red;">Taille > 8 </div>
              </div>

            </div>
            <div class="form-group col-md-6">

              <span class="ui-float-label">
                <input type="email" formControlName="email" id="intervenantemail" class="form-control" pInputText
                  required>

                <label for="intervenantemail">Email</label>
              </span>

              <div *ngIf="submitted && f.email.invalid" style="color: red;">Email est obligatoire
              </div>

            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">

              <span class="ui-float-label">
                <input type="text" formControlName="gouvernorat" id="intervenantgouvernorat" class="form-control"
                  size="30" pInputText required>
                <label for="intervenantgouvernorat">Gouvernorat</label>
              </span>
              <div *ngIf="submitted && f.gouvernorat.invalid" style="color: red;">Gouvernorat est obligatoire
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="ui-float-label">
                <input type="text" formControlName="ville" id="intervenantville" class="form-control" size="30"
                  pInputText required>
                <label for="intervenantville">Ville</label>
              </span>
              <div *ngIf="submitted && f.ville.invalid" style="color: red;">Ville est obligatoire
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <span class="ui-float-label">
                <input type="text" formControlName="adresse" id="intervenantadresse" class="form-control" size="30"
                  pInputText required>
                <label for="intervenantadresse">Adresse</label>
              </span>
              <div *ngIf="submitted && f.adresse.invalid" style="color: red;">Adresse est obligatoire
              </div>
            </div>

            <div class="form-group col-md-6">
              <span class="ui-float-label">
                <input type="number" formControlName="codePostal" id="intervenantcodePostal" class="form-control"
                  size="30" pInputText required>
                <label for="intervenantcodePostal">Code Postal</label>
              </span>
              <div *ngIf="submitted && f.codePostal.invalid" style="color: red;">Code Postal est obligatoire
              </div>
              <div *ngIf="f.codePostal.errors!=null">
                <div *ngIf="f.codePostal.errors.max" style="color: red;">Taille > 4 </div>
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <span class="ui-float-label">

                <p-calendar formControlName="dateNaissance"  id="datenaissnace" [showIcon]="true" dateFormat="yy.mm.dd"></p-calendar>
                <label for="datenaissnace">Date naissance</label>

              </span>
              <div *ngIf="submitted && f.dateNaissance.invalid" style="color: red;">Date Naissance est obligatoire
              </div>
            </div>

            <div class="form-group col-md-6">

              <p-dropdown [style]="{'width':'100%','line-height': '1.25'}" [options]="listTypeIntervenant"
                formControlName="typeintervenantId" optionLabel="typeintervenant" placeholder="Type intervenant">
              </p-dropdown>
              <div *ngIf="submitted && f.typeintervenantId.invalid" style="color: red;">Type est obligatoire
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-footer text-primary">

        <div class="row">

          <div class="form-group mx-sm-3 mb-2">
            <button type="submit" style="margin-right: .5em" pButton label="Soumettre" class="ui-button-success"></button>

            <button type="button" pButton type="button" style="margin-right: .5em" (click)="resetIntervenantForm()"
              label="Réinitialiser"   class="ui-button-raised ui-button-danger"></button>
          </div>
        </div>



      </div>
    </form>

  </div>
</div>
